
#En esta seccion se especifican los archivos de entrada, salida y atributos
[archivos]
entrada: pv/cursables.xlsx
referencias: referencias.xlsx
salida: demandas.xls

#En esta seccion se especifican los datos basicos para el procesamiento de la
#planilla de entrada
[basicos]
sede: PV
escuela: ESC
regimen: REG
semanas: 18

